%h1 Ruby Wings, Ruby Words.
%ul
  %li
    %a{:href => "/rubywings/weibo"} Connect to Weibo
    -if $user && session['weibo_uid']
      %a{:href => "/rubywings/signout_weibo"} Sign out Weibo
    -else
  %li
    %a{:href => "/rubywings/twitter"} Connect to Twitter
    -if $user && session['twitter_uid']
      %a{:href => "/rubywings/signout_twitter"} Sign out Twitter
    -else
  %li
    -if $user
      %span=$user['name']
      %a{:href => "/rubywings/signout"} Sign out
    -else
      %a{:href => "/auth/open_id"} Sign in
%hr
-if $user
  %form{:action => "/rubywings/update",
        :method => "POST",
        :enctype => "multipart/form-data"}
    .row
      %textarea#status{:name => "status", :cols => "62", :rows => "5"}
    .row
      %input#tags{:name => 'tags',  :type => 'input'}
    .row
      %input#file{:name => 'file',  :type => 'file'}
    .row
      %input{:type => "submit", :value => "Ruby Wings"}
